<div class="AccountPage">
  <div class="AccountPage__title">
    <h1>マイページ</h1>
  </div><br>
  <div class="Card_info">
    <b>【クレジットカード】</b>
    <br>
    <%= "**** **** **** " + @card[:last4] %>
    <br><br>
    <b>【有効期限】</b>
    <br>
    <%= @card[:exp_month] %> 
    /
    <%= @card[:exp_year] %>
  </div>
  <br><br><br>
    <b>【ユーザー情報を編集】</b>
    <br>
  <div class="AccountPage__form">
    <%= form_for(current_user) do |f| %>
      <div class="FormField">
        <div class="FormField__name">
          <%= f.label :name %>
        </div>
        <div class="FormField__name">
          <%= f.text_field :name, autofocus: true %>
        </div>
      </div>
      <div class="FormField">
        <div class="FormField__email">
          <%= f.label :email %>
        </div>
        <div class="FormField__email">
          <%= f.email_field :email %>
        </div>
        <br>
      </div>
      <%= f.submit "更新する" %>
      <br><br><br>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
    <br>
    <%= link_to "商品一覧へ戻る", root_path%>
    <% end %>
  </div>
</div>